{%include 'header.html'%}
<body>
    <h1>REDES SOCIALES</h1>
    <h3>Introducción ;3</h3>
    <p>
    Hola!! y bienvenido seas al registro y control de tus redes sociales como medio económico y lucrativo.
    A continuación podrás emplear que metodos de venta o negocio manejas por medio de las redes sociales y así 
    poder registrar, analizar e incluso navegar por medio de los metodos que empleaste, espero y sea de tu agrado c;
    </p>
    <nav> 
            <ul>
                <li><a href="/templates/new_user.html">Users</a> </li>
                <li><a href="/templates/">Methodologies</a></li>
                <li><a href="/templates/">Benefits</a></li>
                <li><a href="analysis.html">Analyses</a></li>
            </ul>
    </nav>
</body>

{%include 'footer.html'%}
