{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">
    <h1>REDES SOCIALES</h1>
    <h3>Introducción ;3</h3>
    <p>
    Hola!! y bienvenido seas al registro y control de tus redes sociales como medio económico y lucrativo.
    A continuación podrás emplear que metodos de venta o negocio, manejas por medio de las redes sociales y así 
    poder registrar, analizar e incluso navegar por medio de los metodos que empleaste, espero y sea de tu agrado c;
    </p>
    
<div class="mt-3">
    <img width="200" height="200" src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg" class="img-thumbnail">
</div>

{% endblock %}