{% include 'header.html' %}
{%include 'navbar.html'%}
<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Listado de Metodologías</h1>

    <div class="d-flex gap-2">
        <a href="/methodologies/new" class="btn btn-success">Crear Metodología</a>
    </div>
</div>
    </div>

    <div class="row">
        {% for methodology in methodologies %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">

                    <h4 class="card-title text-center">{{ methodology.name }}</h4>


                    <p>
                        <strong>Beneficios:</strong><br>
                        {% for b in methodology.benefits %}
                        - {{ b.name }}<br>
                        {% else %}
                        <em>Sin beneficios registrados</em>
                        {% endfor %}
                    </p>

                    <p class="card-text">
                        <strong>ID:</strong> {{ methodology.id }}
                    </p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% include 'footer.html' %}