<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold" href="/">🌐 Redes Sociales</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    👥 Usuarios
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/users">📋 Usuarios activos</a></li>
                    <li><a class="dropdown-item" href="/users/deleted">🗑️ Usuarios Inactivos</a></li>
                    <li><a class="dropdown-item" href="/users/new">➕ Nuevo Usuario</a></li>
                </ul>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMet" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Metodologías
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMet">
                    <li><a class="dropdown-item" href="/methodologies">Ver metodologías</a></li>
                    <li><a class="dropdown-item" href="/methodologies/new">Crear metodología</a></li>
                </ul>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBen" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Beneficios
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownBen">
                    <li><a class="dropdown-item" href="/benefits">Ver beneficios</a></li>
                    <li><a class="dropdown-item" href="/benefits/new">Crear beneficio</a></li>
                </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/analysis">📊 Análisis</a>
                </li>

            </ul>
        </div>
    </div>
</nav>