{% include 'header.html' %}
{%include 'navbar.html'%}
<div class="container mt-4">
    <h1>Registrar nuevo usuario</h1>
    <form method="post" action="/users/new" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input class="form-control" type="text" name="name" required>
        </div>
        <label class="form-label mt-3">Metodología</label>
        <select class="form-select" name="methodology_id">
        <option value="">Sin metodología</option>
            {% for m in methodologies %}
        <option value="{{ m.id }}">{{ m.name }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <label class="form-label">Estado</label><br>
            <input type="radio" name="is_active" value="true" checked> Activo
            <input type="radio" name="is_active" value="false"> Inactivo
        </div>
        <div class="mb-3">
            <label class="form-label">Foto de perfil</label>
            <input class="form-control" type="file" name="img" accept="image/*">
    </div>
        <input type="submit" class="btn btn-primary" value="Registrar usuario">
    </form>
</div>
{% include 'footer.html' %}