{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container mt-4">
    <h2>Editar Usuario</h2>

    <form action="/users/{{ user.id }}/update" method="post">

        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="name" value="{{ user.name }}" required>

        <label class="form-label mt-3">Metodología</label>
        <select class="form-select" name="methodology_id">
        <option value="">Sin metodología</option>
            {% for m in methodologies %}
        <option value="{{ m.id }}" {% if user.methodology_id == m.id %}selected{% endif %}>
            {{ m.name }}
        </option>
            {% endfor %}
        </select>

        {% if user.img %}
            <img src="{{ user.img }}" width="80">
        {% else %}
            <p>No tiene imagen</p>
        {% endif %}

        <button class="btn btn-primary mt-3" type="submit">Guardar cambios</button>

    </form>
</div>

{% include 'footer.html' %}